@import url('https://fonts.googleapis.com/css2?family=Alexandria&family=Atkinson+Hyperlegible&family=Coiny&family=Kanit:wght@300&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Poppins:wght@200&family=Quicksand:wght@300&family=Roboto+Mono:wght@500&family=Roboto:wght@700&display=swap');

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0 ;
  }
  
  body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: row;
    
  }
  .slides-1{
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
.slide-li{
    position: absolute;
    top: 0;
    left: 0;
    display: flex; 
    flex-direction: row;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translatex(-100%);
    transition: transform 250ms linear;
  }
  
   .slider {
    position: relative;
    width: 960px;
    height: 300px;
    margin: 50px auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
      0 3px 1px -2px rgba(0, 0, 0, 0.2);
    /* overflow: hidden; */
  } 
  
  .slider-controls {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    text-align: center;
    transform: translatex(-50%);
    z-index: 1000;
    list-style: none;
    text-align: center;
  }
  
  .slider input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider-controls label {
    display: inline-block;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(162, 157, 158);
    transition: background-color 0.2s linear;
    margin-left: 8px;
  }
  
  #btncircle-1:checked ~ .slider-controls label[for="btncircle-1"] {
    background-color:rgb(185, 17, 59);
  }
  
  #btncircle-2:checked ~ .slider-controls label[for="btncircle-2"] {
    background-color: rgb(185, 17, 59);
  }
  
  #btncircle-3:checked ~ .slider-controls label[for="btncircle-3"] {
    background-color: rgb(185, 17, 59);
  }
  #btncircle-4:checked ~ .slider-controls label[for="btncircle-4"] {
    background-color: rgb(185, 17, 59);
  }
  #btncircle-5:checked ~ .slider-controls label[for="btncircle-5"] {
    background-color: rgb(185, 17, 59);
  }
  
  /* SLIDES */

 .slide-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  } 
 
  .fa-solid {
  font-size: 170px;
  color:azure;
  filter: drop-shadow(10px 5px 1px black);

  } 
  .slide-icon{
    width:40%;
    height:100%;
    background-color: rgb(88, 40, 115);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slide-icon2{
    width:40%;
    height:100%;
    background:rgb(171, 36, 108);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
   .slide-icon3{
    width:40%;
    height:100%;
    background-color:rgb(183, 11, 77);
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .slide-icon4{
    width:40%;
    height:100%;
    background-color:rgb(183, 24, 143);
    display: flex;
    justify-content: center;
    align-items: center;
   }
   .slide-icon5{
    width:40%;
    height:100%;
    background-color:rgb(187, 11, 43);
    display: flex;
    justify-content: center;
    align-items: center;
   }
  .slide-title {
    margin-bottom: 8px;
    font-size: 26px;
    font-family: 'Libre Baskerville', serif;
    margin-left: 50px;
    /* margin-top: 80px; */
    
  }
  
  .slide-text {
    margin-left: 50px;
    width:500px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

   
  }
  .slide-parrafo p{

    display: flex;
    flex-direction: column;
    
  }
  .slide-parrafo {
    width: 60%;
   
    

   
  
  }

  
  
  /* Slide animations */

  #btncircle-1:checked ~ .slides-1 .slide-li:nth-child(1) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btncircle-2:checked ~ .slides-1 .slide-li:nth-child(2) {
    transform: translatex(0);
    opacity: 1;
  }
  
  #btncircle-3:checked ~ .slides-1 .slide-li:nth-child(3) {
    transform: translatex(0);
    opacity: 1;
  }
  #btncircle-4:checked ~ .slides-1 .slide-li:nth-child(4) {
    transform: translatex(0);
    opacity: 1;
  }
  #btncircle-5:checked ~ .slides-1 .slide-li:nth-child(5) {
    transform: translatex(0);
    opacity: 1;
  }
  
  
  #btncircle-1:not(:checked) ~ .slides .slide:nth-child(1) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  #btncircle-2:not(:checked) ~ .slides .slide:nth-child(2) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  #btncircle-3:not(:checked) ~ .slides .slide:nth-child(3) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  #btncircle-4:not(:checked) ~ .slides .slide:nth-child(4) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  #btncircle-5:not(:checked) ~ .slides .slide:nth-child(5) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
  }
  
  @keyframes swap-out {
    0% {
      transform: translatex(0);
      
    }
  
    50% {
      transform: translatex(50%);
      
    }
  
    100% {
      transform: translatex(100%);
      
    }
    150% {
        transform: translatex(150%);
        
      }
    200% {
        transform: translatex(200%);
       
    }
    
  }
  
  @media (max-width:1100px){

    .slider{
      width: 650px;
      height: 400px; 
    }
    .slide-text{
      width: 230px;
      font-size: 16px;
    }
    .slide-icon i {
      margin-right: 50px;
      width:50%;
    }
    
}
@media (max-width:660px){
  .slider{
    width: 555px;
    height: 480px; 
  }
  .slide-icon i{
    font-size: 120px;
  }
  .slide-icon2 i{
    font-size: 120px;
  }
  .slide-icon3 i{
    font-size: 120px;
  }
  .slide-icon4 i{
    font-size: 120px;
  }
  .slide-icon5 i{
    font-size: 120px;
  }

}


@media (max-width:550px){

    
  .slider{
    width: 480px;
    height: 500px; 
  }
    .slide-icon,.slide-parrafo{
      display:flex;
      flex-direction: column;
    }
    .slide-icon i{
      font-size: 130px;
    }
    .slide-icon2 i{
      font-size: 130px;
    }
    .slide-icon3 i{
      font-size: 130px;
    }
    .slide-icon4 i{
      font-size: 130px;
    }
    .slide-icon5 i{
      font-size: 130px;
    }
    .slide-text{
      width: 230px;
      font-size: 14px;
    }
    .slide-title{
      font-size: 22px;
    }

}
@media (max-width:525px){

  .slider{
    width: 380px;
    height: 400px; 
   
  }
  .slide-parrafo{
    display: flex;
    justify-content: center;
    align-items: center;


  }
  .slide-title{
    font-size: 23px;
    width: 250px;

  }
  .slide-text{
    width: 250px;
    font-size: 16px;
  }
  .slide-icon {
    display:none;
    background-color:white;

  }
  .slide-icon2 {
    display:none;
    background-color:white;

  }
  .slide-icon3 {
    display:none;
    background-color:white;

  }
  .slide-icon4 {
    display:none;
    background-color:white;

  }
  .slide-icon5 {
    display:none;
    background-color:white;

  }
}
  